.Button{
  padding: 2% 4%;
  font-size: 3vh;
  background-color: pink;
  border-radius: 10px;
  outline: 0;
  cursor: pointer;
}


.Display {
  min-height: 50vh;
  font-size: 3vh;
  background-image: url('underwater.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  /* margin-top: 4%; */
  border-radius: 10px;
}

.Background {

  /* display: flex;
  flex-direction: column;
  text-align: center; */
  /* min-height: 100vh;
  background-color: yellow;
  background-size:100vh; */
  

  text-align: center;
  min-height: 100vh;
  background-image: url('squad.png');
  background-size:100%;
}
.imageContainer{
  text-align: center;
}




